<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.gis.vectortile.dao.TrafficHistoryMapper">
    <resultMap id="BaseResultMap" type="edu.zju.gis.vectortile.entity.TrafficHistory">
        <result column="RTICID" jdbcType="VARCHAR" property="rticid"/>
        <result column="LOS" jdbcType="INTEGER" property="los"/>
        <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
        RTICID,
        LOS,
        UPDATETIME
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" statementType="STATEMENT">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where ID = ${value}
    </select>
    <select id="selectByKeys" resultMap="BaseResultMap" statementType="STATEMENT">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where ID in
        <foreach collection="idList" item="item" open="(" separator="," close=")">${item}</foreach>
    </select>
    <select id="selectByRticid" resultMap="BaseResultMap" statementType="STATEMENT">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where RTICID = ${value} and UPDATETIME&lt;=${updateTime} order by UPDATETIME desc limit 1
    </select>
    <select id="selectByRticidList" resultMap="BaseResultMap" statementType="STATEMENT">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where RTICID in
        <foreach collection="rticidList" item="item" open="(" separator="," close=")">${item}</foreach>
        and UPDATETIME&lt;${updateMaxTime} and UPDATETIME&gt;${updateMinTime}
    </select>
</mapper>